/* Write your CSS here */
.RCB {
  background-image: linear-gradient(to bottom, #a4261d, #1e293b);
  background-size: cover;
  min-height: 100vh;
}

.KKR {
  background-image: linear-gradient(to bottom, #5755a7, #1e293b);
  background-size: cover;
  min-height: 100vh;
}

.KXP {
  background-image: linear-gradient(to bottom, #d91c1f, #1e293b);
  background-size: cover;
  min-height: 100vh;
}

.CSK {
  background-image: linear-gradient(to bottom, #f7db00, #1e293b);
  background-size: cover;
  min-height: 100vh;
}

.RR {
  background-image: linear-gradient(to bottom, #da237b, #1e293b);
  background-size: cover;
  min-height: 100vh;
}

.MI {
  background-image: linear-gradient(to bottom, #13418b, #1e293b);
  background-size: cover;
  min-height: 100vh;
}

.SH {
  background-image: linear-gradient(to bottom, #f26d22, #1e293b);
  background-size: cover;
  min-height: 100vh;
}

.DC {
  background-image: linear-gradient(to bottom, #4f5db0, #0f172a);
  background-size: cover;
  min-height: 100vh;
}

.team-matches-bg {
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 70px;
  padding-left: 50px;
  padding-right: 55px;
}

.team-banner-image {
  width: 100%;
  border-radius: 5px;
}

.latest-matches-title {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Bree Serif';
  align-self: flex-start;
  margin-bottom: 10px;
  margin-top: 20px;
}

.match-card-matches-list {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 40px;
}

.back-button {
  background-color: #ffffff33;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Roboto';
  padding: 5px;
  margin-bottom: 30px;
  width: 100px;
  height: 40px;
}
